<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../views/partials/header.ejs'); %>
</head>
<body>
    <h1>Contact</h1>

    <p> <%= contactContent %> </p>
</body>
<footer>
    <%- include('../views/partials/footer.ejs'); %>
</footer>
</html>



   
